django-environ==0.11.2
django-filter==24.3
django-htmx==1.21.0
django-simple-history==3.8.0
django==5.0.11
gunicorn==23.0.0
pillow==11.1.0
psycopg2-binary==2.9.10
pypdf==5.2.0
python-magic==0.4.27
whitenoise[brotli]==6.8.2
