django-environ==0.13.0
django-filter==25.2
django-htmx==1.27.0
django-simple-history==3.11.0
django==5.2.13
gunicorn==25.3.0
pillow==12.2.0
psycopg2-binary==2.9.11
pypdf==6.9.2
python-magic==0.4.27
whitenoise[brotli]==6.12.0
