django-environ==0.12.0
django-filter==25.1
django-htmx==1.23.2
django-simple-history==3.10.1
django==5.2.4
gunicorn==23.0.0
pillow==11.3.0
psycopg2-binary==2.9.10
pypdf==5.7.0
python-magic==0.4.27
whitenoise[brotli]==6.9.0
