/* Remember to sync colours with admin CSS. */
:root {
    --primary: #1a2f69;
    --primary-light: #8288bc;
    --primary-red: #d11f26;
    --primary-fg: #ffffff;
    --body-quiet-color: #485d95;
    --text-color: #000000;
}


/*General*/
body {
    margin: 0;
    padding: 0;
}

.header-container {
    display: inline-block;
}

.nav-menu {
    float: left;
    padding: 5px;
    margin: 10px 10px 10px 10px;
}

.nav-logo {
    margin: 3px 10px 10px 10px;
    float: left;
}

.nav {
    background: var(--primary-fg);
    width: 100%;
}

.nav > li > a{
    margin-top: 15px;
    color: var(--text-color);
}

.nav > li > .active{
    margin-top: 15px;
    background-color: var(--primary) !important;
    color: var(--primary-fg);
}

.nav > li > a:hover{
    margin-top: 15px;
    background-color: var(--body-quiet-color);
    color: var(--primary-fg);
}

.nav > li > a:active{
    margin-top: 15px;
    background-color: var(--primary);
    color: var(--primary);
}

.btn-primary{
    margin-top:20px;
    outline-color: var(--primary);
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn-outline-primary{
    margin-top:20px;
    background: #2D4481;
    outline-color: var(--primary);
}

.btn-primary:hover{
    margin-top:20px;
    background: var(--body-quiet-color);
    outline-color: var(--primary);
}

.app-footer .footer-title {
    color: var(--primary);
}

.footer {
    color: white;
    background: var(--primary);
    width: 100%;
}

.footer > a {
    color: var(--primary-fg);
}

.section{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.main-logo {
    width: 140px;
    height: 75px;
    margin: 20px 10px 10px 10px;
}

.page-link {
    background-color: var(--primary) !important;
    color: var(--primary-fg) !important;
}

.page-link:hover{
    background-color: var(--body-quiet-color) !important;
    color: var(--primary-fg) !important;
}

.row {
    margin: 10px;
    padding: 10px;
}

/*Home page*/
.content-card {
    border-color: var(--primary-red);
    margin: 0 10px 0 10px;
    width: 100%;
}

/*Institutions page*/
.uni-card {
    border-color: var(--primary-red);
    margin: 0 10px 0 10px;
}

.uni-logo {
    width: 50px;
    height: 50px;
    margin: 10px 0 0 0;
}

/*Error pages*/
.error-card {
    border-color: var(--primary-red);
    margin: 0 10px 0 10px;
    width: 100%;
}

/*bootstrap icons*/
.bi {
    font-size: 50px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    /*General*/
    .header-container {
        width: 100%;
    }
    .section {
      padding-right: 30px;
    }

    /*Institutions page*/
    .uni-card {
        width: 100%;
        font-size: smaller;
    }
    .all-cards {
        width: 98%;
        padding-right: 30px;
    }
    .col-sm-6 {
        width: 50%;
    }

    /*Home page*/
    .content-card {
        font-size: smaller;
        padding-right: 20px;
        margin-right: 10px;
    }
}

/*small devices (tablets, 600px and up) */
@media screen and (min-width: 600px) {
    /*General*/
    .header-container {
        width: 100%;
    }
    .section {
      padding-right: 20px;
    }

    /*Institutions page*/
    .all-cards {
        width: 100%;
        padding-right: 10px;
    }
    .col-sm-6 {
        width: 50%;
    }
    .uni-card {
        width: 98%;
        height: 200px;
        padding-right: 20px;
    }

    /*Home page*/
    .content-card {
        font-size: smaller;
    }
}

/*Medium screens (tablets, between 768px and 1001px)*/
@media screen and (min-width: 768px) and (max-width: 1001px) {
    /*General*/
    .header-container {
        width: 100%;
    }
    .section {
      padding-right: 20px;
    }

    /*Institutions page*/
    .uni-card {
        width: 98%;
        font-size: medium;
        padding-right: 20px;
        height: 200px;
    }
    .all-cards {
        width: 100%;
        padding-right: 10px;
    }
    .col-sm-6 {
        width: 50%;
    }
}

 /*Larger screens (desktops, 1001px and up)*/
@media screen and (min-width: 1001px){
  /*General*/
  .section {
      padding-right: 20px;
  }

  /*Institutions page*/
  .institution-card{
      overflow: hidden;
  }
  .all-cards {
      width: 48%;
      margin: 10px 10px 10px 10px;
      float: left;
      padding-right: 10px;
    }
  .col-sm-6 {
      width: 50%;
  }
  .uni-card {
      margin: 10px;
      width: 100%;
      height: 200px;
      font-size: small;
  }
}
