/* Remember to sync colours with admin CSS. */
:root {
    --primary: #1a2f69;
    --primary-light: #8288bc;
    --primary-red: #d11f26;
    --primary-fg: #ffffff;
    --body-quiet-color: #485d95;
    --text-color: #000000;
    --link-text: #2c6bce;
}


/*General*/
body {
    padding: 0;
    margin-bottom: 60px;
}

html {
    position: relative;
    min-height: 100%;
    padding-bottom: 60px;
}

.footer {
    text-align: center;
    padding: 1rem;
    background: var(--primary);
    color: white;
    width: 100%;
    overflow: hidden;

    position: absolute;
    bottom: 0;
}
.header-container {
    display: inline-block;
}
.nav-menu {
    float: left;
    padding: 5px;
    margin: 10px 10px 10px 10px;
}
.nav-logo {
    margin: 3px 10px 10px 10px;
    float: left;
}
.nav {
    background: var(--primary-fg);
    width: 100%;
}
.nav > li > a{
    margin-top: 15px;
    color: var(--text-color);
}
.nav > li > .active{
    margin-top: 15px;
    background-color: var(--primary) !important;
    color: var(--primary-fg);
}
.nav > li > a:hover{
    margin-top: 15px;
    background-color: var(--body-quiet-color);
    color: var(--primary-fg);
}
.nav > li > a:active{
    margin-top: 15px;
    background-color: var(--primary);
    color: var(--primary-fg);
}
.btn-primary{
    margin-top:20px;
    outline-color: var(--primary);
    background-color: var(--primary);
    border-color: var(--primary);
}
.btn-outline-primary{
    margin-top:20px;
    background: #2D4481;
    outline-color: var(--primary);
}
.btn-primary:hover{
    margin-top:20px;
    background: var(--body-quiet-color);
    outline-color: var(--primary);
}
.app-footer .footer-title {
    color: var(--primary);
}
.footer > a {
    color: var(--primary-fg);
}
.section{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.main-logo {
    width: 140px;
    height: 75px;
    margin: 20px 10px 10px 10px;
}
.page-link {
    background-color: var(--primary) !important;
    color: var(--primary-fg) !important;
}
.page-link:hover{
    background-color: var(--body-quiet-color) !important;
    color: var(--primary-fg) !important;
}
.footer-class {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
}
.language-toggle {
    margin-top: 1rem;
}
.language-toggle form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.language-toggle select,
.language-toggle .btn-language {
    margin-top: 0.5rem;
}
.btn-language{
    color: var(--text-color);
    outline-color: var(--primary-fg);
    background-color: var(--primary-fg);
    border-color: var(--primary-fg);
}
/*Home page*/
.content-card {
    border-color: var(--primary-red);
    margin: 0 10px 0 10px;
    width: 100%;
}

/*Institutions page*/
.uni-card {
    border-color: var(--primary-red);
    margin: 0 10px 0 10px;
}
.uni-logo {
    width: auto;
    height: 75px;
    margin: 10px 0 10px 0;
    padding: 0 10px 10px 0;
}
.institution-row {
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.left-col, .right-col {
    flex: 1;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*Projects page*/
.filter-class label {
    font-size: 1.15rem;
}
.filter-class {
    margin: 30px;
    font-size: 0.875rem;
}
.filter-form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    box-sizing: border-box;
}
.filter-label {
    width: 100%;
    margin-bottom: 10px;
}
.filter-form label {
    margin-right: 10px;
}
.filter-form .form-group {
    margin: 0 10px 10px 0;
}
.filter-form .form-control {
    border: 1px solid #000;
}
.button-group {
  display: flex;
  align-items: center;
}
.btn-apply, .btn-reset{
    color: var(--primary-fg);
    outline-color: var(--primary);
    background-color: var(--primary);
    border-color: var(--primary);
    padding: 10px 20px;
    margin-right: 10px;
    white-space: nowrap;
}
.btn-apply:hover, .btn-reset:hover{
    color: var(--primary-fg);
    outline-color: var(--primary);
    background-color: var(--primary);
    border-color: var(--primary);
}

.project-list {
    margin: 20px;
    padding: 0 30px 0 30px;
}

.project-name {
    text-decoration: none;
}

.project-name:hover {
    text-decoration: underline;
}

.card-text-project {
    font-size: 0.875rem;
    margin: 3px 0 3px 0;
}

.project-logo {
    height: 100px;
    width: auto;

}
.project-border {
    margin: 0 0 5px 0;
    overflow: hidden;
    padding: 0 5px 0 0;
    word-wrap: break-word;
}
.project-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
}
.project-body {
    width: 100%;
    max-width: 800px;

}
.card-text-description {
    word-wrap: break-word;
    overflow: hidden;
    font-size: 0.875rem;
    margin: 3px 0 3px 0;
}
.project-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    box-sizing: border-box;
    width: 100%;
}
.project-text {
    font-size: 1.25rem;
}
.icon-text {
    font-size: 0.95rem;
}

/*Projects & Institution detail pages*/
.detail {
    width: 80%;
    margin: 0 auto;
    font-size: 0.875rem;
}
.detail h1 {
    font-size: 2em;
}
.detail a {
    text-decoration: none;
    color: var(--link-text);
}
.project-detail a:hover,
.detail-col ul li a:hover {
    text-decoration: underline;
}

.detail {
    width: 80%;
    margin-left: 40px;
}

.detail-row {
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.project-date-left-col {
    flex: 1;
    padding-right: 10px;
}

.project-date-right-col {
    flex: 1;
    display: flex;
    justify-content: left;
}

.detail-col {
    border-radius: 5px;
}

.detail-col h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.detail-col ul {
    list-style: none;
    padding: 0;
}

.detail-col ul li {
    margin-bottom: 5px;
}

.detail-col ul li a {
    text-decoration: none;
    color: var(--link-text);
}
.project-date-row {
  font-size: 0.875rem;
}

/*Accounts*/
.user-account-body {
  margin: 30px;
}

.login-form-group .form-control {
    width: 100%;
    max-width: 500px;
}

/*Error pages*/
.body-card {
    border-color: var(--primary-red);
    margin: 10px;
    width: 100%;
}

/*bootstrap icons*/
.bi {
    font-size: 50px;
}
.detail-icon {
    font-size: 20px;
    margin-right: 3px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    /*General*/
    .header-container {
        width: 100%;
    }
    .section {
      padding-right: 30px;
    }

    /*Institutions page*/
    .uni-card {
        width: 100%;
        font-size: smaller;
    }
    .all-cards {
        width: 98%;
        padding-right: 30px;
    }
    .institution-row {
        flex-direction: column;
        align-items: flex-start;
    }
    .left-col, .right-col {
        width: 100%;
    }

    /*Home page*/
    .content-card {
        font-size: smaller;
        padding-right: 20px;
        margin-right: 10px;
    }
}

/*small devices (tablets, 600px and up) */
@media screen and (min-width: 600px) {
    /*General*/
    .header-container {
        width: 100%;
    }
    .section {
      padding-right: 20px;
    }

    /*Institutions page*/
    .all-cards {
        width: 100%;
        padding-right: 10px;
    }
    .left-col {
        width: 70%;
    }
    .right-col {
        width: 30%;
    }
    .uni-card {
        width: 98%;
        height: 200px;
        padding-right: 20px;
    }

    /*Home page*/
    .content-card {
        font-size: smaller;
    }
}

/*Medium screens (tablets, between 768px and 1001px)*/
@media screen and (min-width: 768px) and (max-width: 1001px) {
    /*General*/
    .header-container {
        width: 100%;
    }
    .section {
      padding-right: 20px;
    }
    .footer-class {
        flex-direction: row;
        justify-content: center;
      }

    .language-toggle {
        margin-top: 0;
        position: absolute;
        right: 1rem;
    }

    .language-toggle form {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .language-toggle select,
    .language-toggle .btn-language {
        margin-left: 0.5rem;
        margin-top: 0;
    }

    /*Institutions page*/
    .uni-card {
        width: 98%;
        font-size: medium;
        padding-right: 20px;
        height: 200px;
    }
    .all-cards {
        width: 100%;
        padding-right: 10px;
    }
    .left-col {
        width: 70%;
    }
    .right-col {
        width: 30%;
    }

    /*Projects page*/
    .filter-form select {
        padding: 0 10px;
        width: 200px;
    }
    .project-row {
        display: flex;
        justify-content: space-between;
    }
    .project-left-col {
        width: 70%;
        flex: 1;
        min-width: 200px;
    }
    .project-right-col {
        width: 30%;
        flex: 0 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /*Projects & Institution detail pages*/
    .detail-left-col, .detail-right-col {
      flex: 1;
      padding: 10px;
    }
    .project-date-row {
      display: flex;
      font-size: 0.875rem;
    }
    .filter-form {
        display: flex;
    }
}

 /*Larger screens (desktops, 1001px and up)*/
@media screen and (min-width: 1001px){
  /*General*/
  .section {
      padding-right: 20px;
  }
  .footer-class {
      flex-direction: row;
      justify-content: center;
    }

  .language-toggle {
      margin-top: 0;
      position: absolute;
      right: 1rem;
  }

  .language-toggle form {
      display: flex;
      flex-direction: row;
      align-items: center;
  }

  .language-toggle select,
  .language-toggle .btn-language {
      margin-left: 0.5rem;
      margin-top: 0;
  }
  /*Institutions page*/
  .institution-card{
      overflow: hidden;
  }
  .all-cards {
      width: 48%;
      margin: 10px 10px 10px 10px;
      float: left;
      padding-right: 10px;
    }
  .left-col {
        width: 70%;
    }
  .right-col {
        width: 30%;
    }
  .uni-card {
      margin: 10px;
      width: 100%;
      height: 200px;
      font-size: small;
  }

  /*Projects page*/
  .filter-form select {
      padding: 0 10px;
      width: 230px;
  }
  .project-row {
      display: flex;
      justify-content: space-between;
  }
  .project-left-col {
      width: 70%;
      flex: 1;
      min-width: 200px;
  }
  .project-right-col {
      width: 30%;
      flex: 0 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  /*Projects & Institution detail pages*/
  .detail-right-col {
      flex: 0 0 auto;
      display: flex;
      justify-content: left;
  }
  .project-date-row {
    display: flex;
    font-size: 0.875rem;
  }
  .filter-form {
      display: flex;
  }
}
