{% extends "admin/base.html" %}
{% comment %}
Django Admin template
extended from:
https://github.com/django/django/blob/stable/5.0.x/django/contrib/admin/templates/admin/base.html
and
https://github.com/django/django/blob/stable/5.0.x/django/contrib/admin/templates/admin/base_site.html

When upgrading Django, compare the changes in the above, to work out what
should be incorporated here, and update the links above that serve as the point
of comparison.
{% endcomment %}

{% load static %}
{% load i18n %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block extrastyle %}
  <link rel="stylesheet" href="{% static 'css/admin.css' %}">
  <link rel="stylesheet" href="{% static 'css/dark_mode_override.css' %}">
  <link rel="icon" href="{% static 'img/favicon.png' %}" sizes="32x32">
{% endblock %}

{% block branding %}
        <h1 class="header-title">
            <a href="{% url 'home' %}">
                <img src="{% static 'img/sadilar.png' %}" class="main-logo" alt="{% trans 'LwimiLinks' %}">
            </a>
        </h1>
{% if user.is_anonymous %}
  {% include "admin/color_theme_toggle.html" %}
{% endif %}
{% endblock %}
