{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Sign Up" %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="section mt-3 mb-3">
            <div class="card body-card">
                <div class="user-account-body">
                    <h2>Activation Invalid</h2>
                    <p>Sorry, but the activation link you used is invalid or has expired.</p>
                    <p>Please request a new activation link or contact support for further assistance.</p>
                    <a href="{% url 'accounts:accounts_register' %}">Register</a> | <a href="{% url 'accounts:login' %}">Login</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}