{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}Email Sent{% endblock %}

{% block content %}
  <div class="section mt-3 mb-3">
    <div class="card body-card">
      <div class="user-account-body">
        <p>{% blocktrans %}We’ve emailed you instructions for setting your password, if an account exists with the email you entered.
            You should receive them shortly.{% endblocktrans %}</p>

        <p>{% blocktrans %}If you don’t receive an email, please make sure you’ve entered the address you registered with, and check
            your spam folder.{% endblocktrans %}</p>
      </div>
    </div>
  </div>
{% endblock %}
