{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Enter new password" %}{% endblock %}

{% block content %}

    {% if validlink %}

    <div class="section mt-3 mb-3">
      <div class="card body-card">
        <div class="user-account-body">
            <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

            <form method="post">
              {% csrf_token %}
              <div class="form-group login-form-group mb-4">
                <fieldset class="module aligned">
                    <div class="form-row field-password1">
                        {{ form.new_password1.errors }}
                        <div class="flex-container">
                            <label for="id_new_password1">{% trans "New password:" %}</label>
                            {{ form.new_password1 }}
                        </div>
                    </div>
                    <br>
                    <div class="form-row field-password2">
                        {{ form.new_password2.errors }}
                        <div class="flex-container">
                            <label for="id_new_password2">{% trans "Confirm password:" %}</label>
                            {{ form.new_password2 }}
                        </div>
                    </div>
                </fieldset>
              </div>
                <br>
                <br>
                <div class="submit-row">
                    <input type="submit" class="btn btn-primary" value="{% trans 'Change my password' %}">
                </div>
            </form>

          </div>
        </div>

        {% else %}
          <div class="card body-card">
            <div class="user-account-body">
              <p class="card-text">
                  {% blocktrans %}The password reset link was invalid, possibly because it has already been used. Please request a new
                  password reset.{% endblocktrans %}
              </p>

              <br>
              <br>
              <div class="submit-row">
                  <input type="submit" class="btn btn-primary" value="{% trans 'Change my password' %}">
              </div>
            </div>
          </div>
        {% endif %}
  </div>
{% endblock %}
