{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Forgot Your Password?" %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="section mt-3 mb-3">
            <div class="card body-card">
                <div class="user-account-body">
                    <p>{% blocktrans %}Forgotten your password? Enter your email address below, and we’ll email
                        instructions for setting a new
                        one.{% endblocktrans %}</p>

                    <form method="post">
                        {% csrf_token %}
                        <fieldset class="module aligned">
                            <div class="form-row field-email">
                                {{ form.email.errors }}
                                <div class="flex-container">
                                    <label for="id_email">{% trans "Email address:" %}</label>
                                    {{ form.email }}
                                </div>
                            </div>
                        </fieldset>
                        <div class="submit-row">
                            <br>
                            <br>
                            <input type="submit" class="btn btn-primary" value="{% trans 'Reset my password' %}">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
