{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Resend Activation Email" %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="section mt-3 mb-3">
            <div class="card body-card">
                <div class="user-account-body">
                    <h2>{% trans "Resend Activation Email" %}</h2>
                    <form method="post">
                        {% csrf_token %}
                        <p>{% trans "Please enter your email address to resend the activation email." %]</p>
                        <div class="form-group">
                            <input class="form-control" type="email" name="email" required placeholder="Email">
                        </div>
                        <div class="submit-row">
                            <button type="submit" class="btn btn-primary">{% trans "Resend" %}</button>
                        </div>
                        <br>
                        {% if error %}
                            <p>{{ error }}</p>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
