{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block account_content %}
<h1 id="main-heading">{{ title }}</h1>
<p>
    {% blocktrans trimmed %}
    Please enter your old password, for security’s sake, and then enter your new
    password twice so we can verify you typed it in correctly.
    {% endblocktrans %}
</p>
<form method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" class="btn btn-primary" value="{% trans 'Reset my password' %}">
</form>
{% endblock %}
