{% extends "email_base.html" %}

{% block title %}Activate Your Account{% endblock %}

{% block content %}
    <h1>Password Reset</h1>

    <p>Hello {{ user.get_username }},</p>
    <p>You requested a password reset. Click the button below to reset your password:</p>
    <p>
        <a href="{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}"
           class="button">
            Reset my password
        </a>
    </p>
    <p>If you didn't request this, please ignore this email.</p>
    <p>Thanks,</p>
    <p>Your website team</p>
{% endblock %}
