{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block account_content %}
<h1 id="main-heading">{{ title }}</h1>
<p class="alert alert-info">
    {% blocktrans trimmed %}
    Note: Accounts are only needed for staff who maintain the information on the website.
    All information is publicly available without an account.
    {% endblocktrans %}
</p>
<form method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" class="btn btn-primary" value="{% trans 'Register' %}">
</form>
{% endblock %}
