{% load i18n %}
{% spaceless %}
<div class="collapse navbar-collapse" id="navbarPills">
    <ul class="nav-pills navbar-nav me-auto mb-2 mb-lg-0">
        {% include "app/_nav_item.html" with view="home" label=_("Home") %}
        {% include "app/_nav_item.html" with view="search" label=_("Search") %}
        {% include "app/_nav_item.html" with view="institutions" label=_("Institutions") %}
        {% include "app/_nav_item.html" with view="projects" label=_("Projects") %}
        {% include "app/_nav_item.html" with view="documents" label=_("Documents") %}
        {% include "app/_nav_item.html" with view="languages" label=_("Languages") %}
        {% include "app/_nav_item.html" with view="subjects" label=_("Subjects") %}
        {% include "app/_nav_item.html" with view="admin:index" label=_("Admin") %}
    </ul>
</div>
{% endspaceless %}
