{% load bs_icons %}
{% load i18n %}

<div class="accordion">
    <details class="mb-2 accordion-item" {% if item.documents|length < 10 %} open {% endif %}>
        <summary class="accordion-button accordion-header">
            <h3 class="fs-4 mb-0">{% trans "Projects" %}</h3>
        </summary>

        <ul class="list-unstyled mt-2 mb-0 accordion-body">
            {% for project in item.projects %}
            <li class="mb-2">
                {% icon "project" %}
                <a href="{% url 'project_detail' project.id %}">{{ project.name }}</a>
            </li>
            {% endfor %}
        </ul>
    </details>
</div>
