{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="filter-class">
  <form method="GET" action="">
      <div class="d-flex flex-wrap gap-2">
          <div class="form-group flex-fill mb-2">
              <label for="subject">{% trans "Subject" %}</label>
              <select id="subject" name="subject" class="form-control">
                  <option value="">{% trans "All Subjects" %}</option>
                  {% for subject in subjects %}
                      <option value="{{ subject.id }}" {% if request.GET.subject == subject.id|stringformat:"s" %}selected{% endif %}>{{ subject.name }}</option>
                  {% endfor %}
              </select>
          </div>
          <div class="form-group flex-fill mb-2">
              <label for="language">{% trans "Language" %}</label>
              <select id="language" name="language" class="form-control">
                  <option value="">{% trans "All Languages" %}</option>
                  {% for language in languages %}
                      <option value="{{ language.id }}" {% if request.GET.language == language.id|stringformat:"s" %}selected{% endif %}>{{ language.name }}</option>
                  {% endfor %}
              </select>
          </div>
          <div class="form-group flex-fill mb-2">
              <label for="institution">{% trans "Institution" %}</label>
              <select id="institution" name="institution" class="form-control">
                  <option value="">{% trans "All Institutions" %}</option>
                  {% for institution in institutions %}
                      <option value="{{ institution.id }}" {% if request.GET.institution == institution.id|stringformat:"s" %}selected{% endif %}>{{ institution.name }}</option>
                  {% endfor %}
              </select>
          </div>
      </div>
      <div class="d-flex flex-wrap">
        <button type="submit" class="btn btn-primary mt-2 button-spacing">{% trans "Filter" %}</button>
        <a href="{% url 'documents' %}" class="btn btn-secondary mt-2 button-spacing">{% trans "Reset" %}</a>
      </div>
  </form>
</div>

<br />

<div class="project-list">
  {% for document in documents %}
  <div class="project-border">
    <div class="row">
          <h3>
                {{ document.document.title }}
          </h3>
        <div class="card-text-project">
            <a href="{{ document.document.url }}" target="_blank" class="project-url" title="External link">
                {{ document.document.url }}
            </a>
        </div>
        <div class="card-text-project project-text">
            {{ document.institution_name }}
        </div>
  </div>
  <div class="project-body">
    <div class="card-text-description">
        {{ document.description|truncatewords:30 }} <a href="{% url 'document_detail' document.document.id %}">{% trans "Read more" %}</a>
    </div>
    <div class="card-text-project">
      {% if document.languages %}
        <span class="icon-text"><i class="project-icon bi-vector-pen"></i></span>
        <span class="icon-text">{{ document.languages }}</span>
      {% endif %}
    </div>
    <div class="card-text-project">
      {% if document.subjects %}
        <span class="icon-text"><i class="project-icon bi-book"></i></span>
        <span class="icon-text">{{ document.subjects }}</span>
      {% endif %}
    </div>
  </div>
  </div>

  <br />
  {% endfor %}
</div>


            {% endif %}
    {% include "app/_pagination.html" %}

</div>
{% endblock content %}
