{% extends BASE_TEMPLATE %}
{% load static %}
{% load i18n %}

{% block content %}
{% spaceless %}
<h1 id="main-heading" class="visually-hidden">{% trans "LwimiLinks" %}</h1>
<section class="m-3 card">
    <div class="card-body limit-text-width">
        <h2 class="fs-3 card-title">{% trans "Explore" %}</h2>
        <p>
            {% blocktrans trimmed %}
                LwimiLinks is a place for multilingual terminology and other useful language
                resources. Use the search box below to discover resources on the site.
            {% endblocktrans %}
             <a href="{% url 'about' %}#contact">{% trans "If you have something to upload, please contact us." %}</a>
        </p>
        <form method="get" action="{% url 'search' %}" class="pb-1">
            <input type="search" name="search" placeholder="{% trans 'Search term...' %}"
                   class="form-control search-input" aria-label="{% trans 'Search for a term' %}">
            <input type="submit" value="{% trans 'Search' %}" class="btn btn-primary mt-2">
        </form>

        <hr class="mt-4 mb-4">

        <p>
            {% trans "Or, you can browse through the available information by one of the following categories:" %}
        </p>
        <ul class="list-unstyled d-md-flex flex-md-row">
            <li class="m-2">
                <a href="{% url 'institutions' %}" class="btn btn-secondary">
                    {% trans "Institutions" %}
                </a>
            </li>
            <li class="m-2">
                <a href="{% url 'projects' %}" class="btn btn-secondary">
                    {% trans "Projects" %}
                </a>
            </li>
            <li class="m-2">
                <a href="{% url 'documents' %}" class="btn btn-secondary">
                    {% trans "Documents" %}
                </a>
            </li>
            <li class="m-2">
                <a href="{% url 'languages' %}" class="btn btn-secondary">
                    {% trans "Languages" %}
                </a>
            </li>
            <li class="m-2">
                <a href="{% url 'subjects' %}" class="btn btn-secondary">
                    {% trans "Subject fields" %}
                </a>
            </li>
       </ul>
   </div>
</section>

{% endspaceless %}
{% endblock content %}
