{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}

<div class="body">
    <div class="section mt-3 mb-3">
        <div class="card content-card">
            <div class="card-body">
                <h5 class="card-title">{% trans "Welcome" %}</h5>
                <p class="card-text">
                    {% blocktrans %}The South African Centre for Digital Language Resources (SADiLaR) is a national research
                    infrastructure that aims to ensure a digital future for our official languages.
                    It supports researchers in the fields of digital humanities and social sciences and also assists
                    institutions in their language implementation plans.{% endblocktrans %}
                    <a href="https://sadilar.org">{% blocktrans %}Read more about SADiLaR.{% endblocktrans %}</a>
                </p>
                <p class="card-text">
                    {% blocktrans %}SADiLaR conducted an audit at South African public higher education institutions that highlighted
                    areas that require attention.{% endblocktrans %}
                    <a href="https://sadilar.org/usaf_report_2023">{% blocktrans %}Read the report.{% endblocktrans %}</a>
                </p>
                <p class="card-text">
                    {% blocktrans %}This platform highlights previous and current work at institutions to encourage collaboration and
                    disseminate resources.{% endblocktrans %}
                </p>
            </div>
        </div>
    </div>

    <div class="section mt-3 mb-3">
        <div class="card content-card">
            <div class="card-body d-flex justify-content-between align-items-end">
                <div class="card-items">
                    <h5 class="card-title">{% trans "Search" %}</h5>
                    <p class="card-text">
                        {% blocktrans %}This platforms hosts terminology and other useful language resources.{% endblocktrans %}
                    </p>
                    <p class="card-text">
                        {% blocktrans %}Search for a term or topic you are interested in.
                        (Functionality coming soon.){% endblocktrans %}
                    </p>
                    {# TODO: create the search box right here so that no additional click is required. #}
                    <a href="{% url 'search' %}" class="btn btn-primary">
                        {% trans "Search a term" %}
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="section mt-3 mb-3">
        <div class="card content-card">
            <div class="card-body">
                <h5 class="card-title">{% trans "Institutions" %}</h5>
                <p class="card-text">
                    {% trans "Browse information by institution." %}
                </p>
                <a href="{% url 'institutions' %}" class="btn btn-primary">
                    {% trans "View" %}
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
