{% extends BASE_TEMPLATE %}
{% load static %}
{% load i18n %}
{% block content %}
    {% spaceless %}
        <h1 id="main-heading" class="visually-hidden">{% trans "LwimiLinks" %}</h1>
        <section class="m-3 card">
            <div class="card-body limit-text-width">
                <h2 class="fs-3 card-title">{% trans "Explore" %}</h2>
                <p>
                    {% blocktrans trimmed %}
                        LwimiLinks is a place for multilingual terminology and other useful language
                        resources. We encourage institutions to upload their resources, and to register
                        information on related projects.
                    {% endblocktrans %}
                </p>
                <form method="get" action="{% url 'search' %}">
                    <input type="search"
                           name="search"
                           placeholder="{% trans 'Search term...' %}"
                           class="form-control search-input">
                    <input type="submit"
                           value="{% trans 'Search' %}"
                           class="btn btn-primary mt-2">
                </form>
                <p class="pt-3">{% trans "Browse through the available information by one of the following categories:" %}</p>
                <ul class="list-unstyled d-md-flex flex-md-row">
                    <li class="m-2">
                        <a href="{% url 'institutions' %}" class="btn btn-secondary">{% trans "Institutions" %}</a>
                    </li>
                    <li class="m-2">
                        <a href="{% url 'projects' %}" class="btn btn-secondary">{% trans "Projects" %}</a>
                    </li>
                    <li class="m-2">
                        <a href="{% url 'documents' %}" class="btn btn-secondary">{% trans "Documents" %}</a>
                    </li>
                    <li class="m-2">
                        <a href="{% url 'languages' %}" class="btn btn-secondary">{% trans "Languages" %}</a>
                    </li>
                    <li class="m-2">
                        <a href="{% url 'subjects' %}" class="btn btn-secondary">{% trans "Subject fields" %}</a>
                    </li>
                </ul>
            </div>
        </section>
        <section class="m-3 card">
            <div class="card-body limit-text-width">
                <h2 class="fs-3 card-title">{% trans "Background information" %}</h2>
                <p>
                    {% blocktrans trimmed %}
                        The South African Centre for Digital Language Resources (SADiLaR) is a national research
                        infrastructure that aims to ensure a digital future for our official languages.
                        It supports researchers in the fields of digital humanities and social sciences and also
                        assists institutions in their language implementation plans.
                    {% endblocktrans %}
                    <a href="https://sadilar.org">{% blocktrans %}Read more about SADiLaR.{% endblocktrans %}</a>
                </p>
                <p>
                    {% blocktrans trimmed %}
                        SADiLaR conducted an audit at South African public higher education institutions that highlighted
                        areas that require attention.
                    {% endblocktrans %}
                    <a href="https://sadilar.org/usaf_report_2023">{% blocktrans %}Read the report.{% endblocktrans %}</a>
                </p>
                <p>
                    {% blocktrans trimmed %}
                        This platform highlights previous and current work at institutions to encourage collaboration and
                        disseminate resources.
                    {% endblocktrans %}
                </p>
            </div>
        </section>
    {% endspaceless %}
{% endblock content %}
