{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}

    <div class="institution-card w-100">
    {% for institution in institutions %}
    <div class="all-cards section">
        <div class="card uni-card">
            <div class="row">
                <div class="col-sm-6 left-col">
                    <h5 class="card-title"><a href="{% url 'institution_detail' institution.id %}">{{ institution.name }}</a></h5>
                    <p class="card-text">
                        {{ institution.abbreviation }}
                    </p>
                    <p class="card-text">
                      {% if institution.project_count == 0 %}{% blocktrans %}no applicable project{% endblocktrans %}
                      {% else %}
                      {% blocktrans count project_count=institution.project_count %}{{ project_count }} applicable project{% plural %}{{ project_count }} applicable projects{% endblocktrans %}
                      {% endif %}
                    </p>
                </div>
                <div class="col-sm-6 right-col">
                    <p class="card-text">{% trans "Profile completion:" %}</p>
                    <div class="profile-icons">
                      {% if institution.rating <= 20 %}
                          <i class="bi-star-fill"></i>
                          <i class="bi-star"></i>
                          <i class="bi-star"></i>
                          <i class="bi-star"></i>
                          <i class="bi-star"></i>
                      {% elif institution.rating <= 40 %}
                          <i class="bi-star-fill"></i>
                          <i class="bi-star-fill"></i>
                          <i class="bi-star"></i>
                          <i class="bi-star"></i>
                          <i class="bi-star"></i>
                      {% elif institution.rating <= 60 %}
                          <i class="bi-star-fill"></i>
                          <i class="bi-star-fill"></i>
                          <i class="bi-star-fill"></i>
                          <i class="bi-star"></i>
                          <i class="bi-star"></i>
                      {% elif institution.rating <= 80 %}
                          <i class="bi-star-fill"></i>
                          <i class="bi-star-fill"></i>
                          <i class="bi-star-fill"></i>
                          <i class="bi-star-fill"></i>
                          <i class="bi-star"></i>
                      {% else %}
                          <i class="bi-star-fill"></i>
                          <i class="bi-star-fill"></i>
                          <i class="bi-star-fill"></i>
                          <i class="bi-star-fill"></i>
                          <i class="bi-star-fill"></i>
                      {% endif %}
                    </div>
                    <div class="card-logo">
                        {% if institution.logo %}
                        <img src="{{ institution.logo.url }}" alt="{{ institution.name }} logo"
                             class="uni-logo">
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    </div>

{% endblock content %}
