{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load bs_icons %}

{% block content %}
<div class="m-4 text-decoration-none">
    <h1>{% trans "Information by language" %}</h1>
    <div class="row">
        {% for item in language_data %}
        <h2>{{ item.language.name }}</h2>
        <div class="col-md-6">
            <h3>{% trans "Documents" %}</h3>
            {% if item.documents.exists %}
            <div class="documents">
                <ul class="list-unstyled">
                    {% for document in item.documents %}
                    <li class="mb-2">
                        {% bs_icon "file-earmark" %}
                        <a href="{% url 'document_detail' document.id %}">
                            {{ document.title }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% else %}
                <p>{% trans "No documents available for this language." %}</p>
            {% endif %}
        </div>
        <div class="col-md-6">
            <h3>{% trans "Projects" %}</h3>
            {% if item.projects.exists %}
            <div class="projects">
                <ul class="list-unstyled">
                    {% for project in item.projects %}
                    <li class="mb-2">
                        {% bs_icon "clipboard2" %}
                        <a href="{% url 'project_detail' project.id %}">
                            {{ project.name }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% else %}
                <p>{% trans "No projects available for this language." %}</p>
            {% endif %}
        </div>
        <hr>
        {% endfor %}
    </div>

</div>

{% endblock content %}
