{% extends BASE_TEMPLATE %}
{% load i18n %}
{% load bs_icons %}

{% block title %}{% trans "Languages" %}{% endblock %}

{% block content %}
{% spaceless %}
<div class="text-break m-4 text-decoration-none">
    <h1 id="main-heading">{% trans "Information by language" %}</h1>
    <div class="row">
        {% for item in language_data %}
        <hr>
        <h2>{{ item.language.name }}</h2>
        <div class="col-md-6">
            {% include "app/_documents.html" with no_documents=_("No documents available for this language.") %}
        </div>
        <div class="col-md-6">
            {% include "app/_projects.html" with no_projects=_("No projects available for this language.") %}
        </div>
        {% endfor %}
    </div>
</div>

{% endspaceless %}
{% endblock content %}
