{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="body">
    <div class="section mt-3 mb-3">
        <div class="card content-card p-2">
            <div class="card-body">
                <h5 class="card-title">{% trans "Search a term" %}</h5>
                <form method="get" class="container">
                    <input type="search" name="{{ filter.form.search.name }}" placeholder="{% trans 'Search...' %}"
                           class="form-control search-input"
                           value="{{ request.GET.search|default_if_none:'' }}">
                    <br>
                    <input type="submit" class="btn btn-success float-left"/>
                </form>
                <br>
                <br>
                <div class="container">
                    {% for result in search_results %}
                        <div>
                            <h3><a href="{% url result.view result.id %}">{{ result.heading }}</a></h2>
                            <p>{{ result.description | truncatewords:10 }}</p>
                            <p>
                                <span class="mr-5"><b>{% trans "Excerpt:" %}</b></span>
                                <span>{{ result.search_headline|safe }}</span>
                            </p>
                            <p>
			        <span><i>{{ result.rank }}</i></span>
                            </p>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="container">
                <hr>
                <div class="pagination ">
                    {% if documents.has_previous %}
                        <a href="{{ search_params }}&page=1">&laquo; first</a>
                        <a href="{{ search_params }}&page={{ documents.previous_page_number }}">&lt; previous</a>
                    {% endif %}
                    <span class="current">
                         Page {{ documents.number }} of {{ documents.paginator.num_pages }}.
                    </span>
                    {% if documents.has_next %}
                        <a href="{{ search_params }}&page={{ documents.next_page_number }}">next &gt;</a>
                        <a href="{{ search_params }}&page={{ documents.paginator.num_pages }}">last
                            &raquo;</a>
                    {% endif %}
                </div>
                <hr>
            </div>
            <form method="get" class="container">
                <input type="search" name="{{ filter.form.search.name }}" placeholder="{% trans 'Search...' %}"
                       class="form-control search-input"
                       value="{{ request.GET.search|default_if_none:'' }}">
                <br>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="id_subjects">Institution</label>
                            <div class="checkbox-container">
                                {% for checkbox in filter.form.institution %}
                                    <div class="form-check">
                                        {{ checkbox.tag }}
                                        <label class="form-check-label"
                                               for="{{ checkbox.id_for_label }}">
                                            {{ checkbox.choice_label }}
                                        </label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="id_subjects">Document Type</label>
                            <div class="checkbox-container">
                                {% for checkbox in filter.form.document_type %}
                                    <div class="form-check">
                                        {{ checkbox.tag }}
                                        <label class="form-check-label" for="{{ checkbox.id_for_label }}">
                                            {{ checkbox.choice_label }}
                                        </label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="id_subjects">Subjects</label>
                            <div class="checkbox-container">
                                {% for checkbox in filter.form.subjects %}
                                    <div class="form-check">
                                        {{ checkbox.tag }}
                                        <label class="form-check-label" for="{{ checkbox.id_for_label }}">
                                            {{ checkbox.choice_label }}
                                        </label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="id_subjects">Languages</label>
                            <div class="checkbox-container">
                                {% for checkbox in filter.form.languages %}
                                    <div class="form-check">
                                        {{ checkbox.tag }}
                                        <label class="form-check-label" for="{{ checkbox.id_for_label }}">
                                            {{ checkbox.choice_label }}
                                        </label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <input type="submit" class="btn btn-success float-left"/>
                <br>
            </form>
        </div>
        <br>
    </div>
</div>

{% endblock content %}
