{% load i18n %}
{% spaceless %}
<html lang="en">{# Required for HTMX title swapping to work #}
<head>
    <title>{% block title %}{% trans "SADiLaR" %}{% endblock %}</title></head>
</head>

{# The marking of the active/current page is done outside <main>, so we repeat it here: #}
{% include "app/_navbar_items.html" %}

{% endspaceless %}
<main id="main">{% block content %}{% endblock content %}</main>
{% spaceless %}

{% if debug_toolbar %}
<script>
    {% include "app/js/debug-toolbar-handler.js" %}
</script>
{% endif %}

{% endspaceless %}
