{% extends BASE_TEMPLATE|default:"base.html" %}
{# BASE_TEMPLATE can be undefined in certain error conditions, therefore `default` #}
{% load i18n %}

{% block title %}{% trans "Error" %}{% endblock %}

{% block content %}

<div id="error-page" class="m-3 card text-center body-card">
    <div class="card-header">
        {% trans "Error" %}
    </div>
    <div class="card-body">
        <h1 class="card-title">{% block error_title %}Error{% endblock %}</h1>
        <p class="card-text">{% block error_message %}An error occured{% endblock %}</p>
        <a href="{% url 'home' %}" class="btn btn-primary">{% trans "Go to home" %}</a>
    </div>
</div>

{% endblock content %}
