{% extends BASE_TEMPLATE|default:"base.html" %}
{# BASE_TEMPLATE can be undefined in certain error conditions, therefore `default` #}
{% load i18n %}

{% block title %}{% trans "Error" %}{% endblock %}

{% block error %}
{% with show_error=True %}
    {{ block.super }}
{% endwith %}
{% endblock %}

{% block content %}
{% comment %}
This keeps the error pages out of history, and with `refreshOnHistoryMiss`
ensures that error pages are always fetched anew from the server.
{% endcomment %}
<div hx-history="false"></div>
{% endblock %}
